doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    table(style="width: 100%;border: 1px solid #000;")
      tr
        td(style="width: 30%;")
          a(href="https://pugjs.org/api/getting-started.html")
            img(src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png", alt="Creative Tim Logo", style="width: 40%;")
        td(style="width: 70%;text-align: right;")
          h1(style="margin: 0;padding: 0;") Welcome to Creative Tim